@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Ysabeau+Infant&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Ysabeau Infant', sans-serif;
}

body{
    margin: auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #03004dcd, #005456);
    background-repeat: no-repeat;
}

.calculator{
    border: 1px solid #6dbff93a;
    padding: 20px;
    border-radius: 15px;
    background: transparent;
    box-shadow: -1px -1px 15px rgba(127, 246, 255, 0.302);
}

input{
    padding: 20px;
    margin: 10px;
    width: 320px;
    border: none;
    background: transparent;
    text-align: right;
    font-size: 40px;
    cursor: pointer;
    color: rgb(140, 232, 251);
}

input::placeholder{
    color: rgb(140, 232, 251);
}

button{
    border: none;
    height: 60px;
    width: 60px;
    margin: 10px;
    background: transparent;
    font-size: 20px;
    box-shadow: -3px -3px 20px rgba(127, 246, 255, 0.2);
    border-radius: 50%;
    color: rgb(140, 232, 251);
    cursor: pointer;
}
button:hover{
    background-color: #61c5f49d;
    box-shadow: -3px -3px 20px rgba(127, 246, 255, 0.2);
    color: #0b0343;
}

.operator{
    color: rgb(27, 230, 16);
}
.operator:hover{
    box-shadow: none;
    color: rgb(5, 69, 12);
    background-color: #76ffa677;
    box-shadow: -3px -3px 20px rgba(127, 246, 255, 0.2);
}

.equalbtn{
    color: rgb(27, 230, 16);
    font-size: 20px;
}
.equalbtn:hover{
    background-color: #e7eab2a8;
    box-shadow: none;
}
